<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= user.birth_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if (user.image.present?) %>
    <%= link_to image_tag(user.image_as_thumbnail), user.image%>
    <% end %>
  </p>

</div>
