<div id="<%= dom_id trail %>">
  <p>
    <strong>Name:</strong>
    <%= trail.name %>
  </p>

  <p>
    <strong>Surface:</strong>
    <%= trail.surface %>
  </p>

  <p>
    <strong>Complexity:</strong>
    <%= trail.complexity %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= trail.comment %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= trail.user_id %>
  </p>

</div>
